.card {
    margin-top: 10px;
    max-width: 345px;
    margin-left: 50px;
}

.media {
    height: 150px;
}

@media screen and (max-width: 960px) {


    .card {
        margin-top: 10px;
        max-width: 80%;
    }
}