.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    margin-top: 20px;
    padding:10px;
    height: 50px;
    box-shadow: 0px 2px #888888;
    background-color: #fff;
}

.header.search{
    padding-top: 0px;
    align-items: flex-start;
    height: 160px;
}

.header__icon{
    object-fit: contain;
    height: 40px;
    margin-left: 20px;
    
}

.header__center {
    display: flex;
    flex: 1;
    align-items:center;
    max-width: fit-content;
    padding: 10px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 999px;
    cursor: pointer;
}

.header__center > input {
    cursor: pointer;
    border: none;
    padding: 10px;
    outline-width: 0;
    width: 30vw;
}

.header__center > svg:hover {
    box-shadow: 0px 2px 4px rgb(0 0 0 / 18%);
    border-radius: 999px;
}

.header__right > svg {
    padding: 5px;
}

.header__right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 18vw;
    margin-right: 60px;
    margin-left: 60px;
    padding: 5px
}


.header__avatar{
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px solid lightgray;
    justify-content: space-between;
    border-radius: 999px;
}

.header__avatar:hover {
    box-shadow: 0px 2px 4px rgb(0 0 0 / 18%);
    
}

.header__right > svg:hover {
    box-shadow: 0px 2px 4px rgb(0 0 0 / 18%);
    border-radius: 999px;
    border: 0px solid lightgray;
}
.header__right > p:hover {
    box-shadow: 0px 2px 4px rgb(0 0 0 / 18%);
    border-radius: 999px;
    padding: 10px
}
.header__right > p {
    padding: 10px
}

.menu_icon {
    display: none !important;
}

.nav-menu {
    display: none;
}




@media screen and (max-width: 960px) {

    .header__avatar{
        display: none;
    }

    .menu_icon {
        display: flex !important;
    }

    .header__right > p {
      display: none;
    }

    
.header__icon{
    margin-right: 50px;
    
}
    

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 50px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
        padding: 0px;
      }

      .nav-links.active{
        color:black;
    }
    .nav-links:hover {
      opacity: 0.5;
      transition: all 0.2s ease-out;
    }

     li {
        list-style-type: none; 
    }
    
      .nav-menu.active {
        background: #e9e8e8;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
      }
    
      .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
      }
      .nav-links {
        color: rgb(0, 0, 0);
        text-decoration: none;
        padding: 0.5rem 1rem;
      }
      
      .nav-links.active{
          color:black;
      }
      .nav-links:hover {
        background-color: #1888ff;
        border-radius: 0;
      }
    
}